@import "tailwindcss";

:root {
    font-family: Roboto, Arial, sans-serif;
}

body {
    background-color: #FAFAFA;
}

a {
    padding: 0.5rem;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}