@import "tailwindcss";

:root {
    --primary: hsl(357, 85%, 15%);
    font-family: Roboto, Arial, sans-serif;
    color: var(--primary);
    text-align: unset;
}

body {
    background-color: hsl(317, 35%, 99%);
}

@media screen and (max-width: 480px){
    html {
        font-size: 0.85rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
}

a {
    padding: 0.5rem;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.badge {
    padding: 0 0.75rem;
    border-radius: 0.5rem;
    line-height: 1.75;

    &.badge--member {
        background-color: hsl(11, 100%,87%);
        color: var(--primary);
    }
}